# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Environments
.env
.venv
venv/
env/
ENV/
*.env.*
!.env.example

# Django
*.log
*.pot
db.sqlite3
/media/
/staticfiles/
local_settings.py

# VS Code
.vscode/

# MLflow
mlruns/
mlartifacts/
outputs/
**/basic_auth.db

# Mac
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class
ppo_battery_tensorboard/*/*

models/*_steps.zip
