# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Environments
.env
.venv
venv/
env/
ENV/
*.env.*
!.env.example

# Django
*.log
*.pot
db.sqlite3
/media/
/staticfiles/
local_settings.py

# VS Code
.vscode/

# MLflow
mlruns/
mlartifacts/
outputs/
**/basic_auth.db

# Mac
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class
ppo_battery_tensorboard/PPO_3/*
ppo_battery_tensorboard/PPO_4/*
ppo_battery_tensorboard/PPO_5/*
ppo_battery_tensorboard/PPO_6/*
ppo_battery_tensorboard/PPO_7/*
ppo_battery_tensorboard/PPO_8/*
ppo_battery_tensorboard/PPO_10/events.out.tfevents.1753188607.Chavdars-MacBook-Pro.local.46329.0
ppo_battery_tensorboard/PPO_11/events.out.tfevents.1753190224.Chavdars-MacBook-Pro.local.69178.0
ppo_battery_tensorboard/PPO_12/events.out.tfevents.1753190264.Chavdars-MacBook-Pro.local.70622.0
ppo_battery_tensorboard/PPO_13/events.out.tfevents.1753190362.Chavdars-MacBook-Pro.local.71293.0
ppo_battery_tensorboard/PPO_9/events.out.tfevents.1753187979.Chavdars-MacBook-Pro.local.28378.0
ppo_battery_tensorboard/PPO_14/events.out.tfevents.1753192516.Chavdars-MacBook-Pro.local.45650.0
ppo_battery_tensorboard/PPO_16/events.out.tfevents.1753369135.Chavdars-MacBook-Pro.local.18985.0
ppo_battery_tensorboard/PPO_17/events.out.tfevents.1753379648.Chavdars-MacBook-Pro.local.96378.0
ppo_battery_tensorboard/PPO_18/events.out.tfevents.1753379692.Chavdars-MacBook-Pro.local.99621.0
ppo_battery_tensorboard/PPO_19/events.out.tfevents.1753380477.Chavdars-MacBook-Pro.local.7038.0
ppo_battery_tensorboard/PPO_20/events.out.tfevents.1753383820.Chavdars-MacBook-Pro.local.17545.0
ppo_battery_tensorboard/PPO_21/events.out.tfevents.1753384597.Chavdars-MacBook-Pro.local.20327.0
ppo_battery_tensorboard/PPO_22/events.out.tfevents.1753385618.Chavdars-MacBook-Pro.local.83449.0
ppo_battery_tensorboard/PPO_23/events.out.tfevents.1753388076.Chavdars-MacBook-Pro.local.14574.0
ppo_battery_tensorboard/PPO_24/events.out.tfevents.1753388949.Chavdars-MacBook-Pro.local.59810.0
